<div class="container">
	<h5> <font color = "white">ENTER YOUR FULL DETAILS BENEATH AND SEND US YOUR QUERY </font> </h5><br>
  <div class="col-md-4">
		<label  for="email"> <font color = "white">email address </font></label>
		<input type="text" ng-model = "email" class="form-control form-control">
		<label for="email"> <font color = "white"> subject </font></label>
		<input type="text" ng-model = "subject" class="form-control form-control">
		<div class = "form-group">
		<label for="test"> <font color = "white"> Message </font> </label>
		<textarea class="form-control rounded-1" ng-model = "message" id="test" rows="5"></textarea>
		</div>
  </div>
  <button type="button" ng-click = "contactUs()" class="btn btn-primary">Send </button>
   <button type="button" ng-click = "goBack()" class="btn btn-primary">Cancel </button>
    </div> <br><br><br>
