<div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">BOND LOAN CALCULATOR</h1>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2">Proceed to the calculations page</h3>
                 
            </div>
			  <button type="button" ng-click="calculate()" class="btn btn-primary">CALCULATE</button>    
        </div>
	
</div>