<div class="container">
	<h5> <font color = "white">ENTER ID NUMBER(optional) AS WELL FOR MORE ACCURATE LOAN CALCULATION SEARCH RESULTS </font> </h5><br><br>
  <div class="col-md-4">
		<label for="number"> <font color = "white">id number </font></label>
		<input type="number" ng-model = "idnumber" class="form-control form-control">
		<label for="email"> <font color = "white"> calculation name </font></label>
		<input type="text" ng-model = "calcname" class="form-control form-control">
  </div>
  <button type="button" ng-click = 'search()' class="btn btn-primary">Search</button>
  <button type="button" ng-click = 'goBack()'  class="btn btn-primary">Cancel</button>
    </div> <br><br><br>