<div class="container">
	<h1 align="center"> <font color = "Gold"> SAVED LOAN CALCULATION RESULTS </font> </h1> <br><br>
	
	<div class="row text-center">
		 <div class="col-md-4" ng-repeat="calculation in CALCULATIONS"> 
		 
		 <i class="fas fa-calculator fa-7x" id="house"></i>
		 <br><br>
		 <h3> <a href = "" ng-click = 'calculate(calculation)'> <b> <font color="	#FFF0F5"> ==={{calculation.calcname}}===</font> </b> </a> </h3>
		 <br><br>
		 </div>
	 </div><br><br><br><br><br><br><br>
	
   </div>